body{
	background:purple;
	color:white;
	margin:0;
}
.img1{
	width: 20%;
}
.img2{
	width: 20%;
}
nav{
	background: #251E99;
	padding: 10px;
	text-align: right;
}
li{
	padding: 10px;
	display: inline;
	color:white;
}
.principal{
	background:url("../img/fondo1.png");
	text-align: center;
	height: 400px;
	background-size: 100%;
	padding-top: 100px;
}
.video{
	background:white;
	color:black;
	text-align: center;
	padding: 50px;
}